@model Category
<br />
<br />
<h1 style="color:rgb(79,49,204);font-weight:bold;" class="text-center">Delete this Category</h1>
<br />
<br />
<br />

<dl class="row ">
	<dt class="col-2" style="color:black">@Html.DisplayNameFor(e=>e.Id)</dt>
	<dd class="col-10">@Html.DisplayFor(e=>e.Id)</dd>

	<dt class="col-2" style="color:black">@Html.DisplayNameFor(e=>e.BookType)</dt>
	<dd class="col-10">@Html.DisplayFor(e=>e.BookType)</dd>

	<dt class="col-2" style="color:black">@Html.DisplayNameFor(e=>e.Description)</dt>
	<dd class="col-10">@Html.DisplayFor(e=>e.Description)</dd>

</dl>
<br />

<form method="post" asp-controller="Categorys" asp-action="DeleteCurrent">
	<input type="hidden" asp-for="Id" />
	<button type="submit" class="btn btn-outline-danger">Delete</button>
<a asp-controller="Categorys" asp-action="GetIndexView" class="btn btn-outline-danger ">Back</a>
</form>

